@import '../../../assets/styles/variables';
.dropdown {
 
      height: min-content;
    //   width: 10rem;
      text-align: center;

      a {
          width: 100%;
          display: block;
          text-decoration: none;
          color: $COLOR-MAIN-BLACK;
          padding: 1rem 1rem;

          &:hover {
              background-color: $COLOR-MAIN-GRAY;
              color: $COLOR-WHITE;
              
          }
      }

      li {
          list-style: none;
          cursor: pointer;
          padding: 1rem 1rem;
          transition: all .1s;
          &:hover {  background-color: $COLOR-MAIN-GRAY; color: $COLOR-WHITE; }
      }
  }


.profile__name {
    cursor: pointer;
    font-size: 1.5rem;
    margin-left: .7rem;
    color: $COLOR-MAIN-GRAY;
    display: flex;
    align-items: center;

    &:hover {
        color: darken($COLOR-MAIN-GRAY, $amount: 20);
    }

    i {
        font-size: 1.2rem;
        padding-left: .4rem;
    }
}