@import '../../../../assets/styles/variables';

.taskItem {
   display: flex;
   padding: 2.4rem;
   box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.151);
   border-radius: 4px;
   width: 100%;
   backface-visibility: hidden;
   transition: all .1s;
   margin-bottom: 2rem;
   border: 1.5px solid transparent;


   &:hover {
        border: 1.5px solid $COLOR-PRIMARY;
        cursor: pointer;
   }
}

.taskInfo {
    width: 38rem;
    line-height: 135%;
    padding-left: 2.6rem;
    margin-right: 6.6rem;
    color: $COLOR-MAIN-BLACK  ;
}

.taskTitle {
    font-size: 1.8rem;
    padding-bottom: 1.2rem;
}

.taskDescription {
    font-size: 1.6rem;
    line-height: 120%;

}

.taskLocation {
    padding-top: 2.1rem;
    font-size: 1.2rem;
    color: $COLOR-PRIMARY;
}

.taskOrder {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.taskCost {
    font-size: 1.4rem;
    color: $COLOR-MAIN-BLACK;
    line-height: 135%;
    font-weight: bold;
    padding-bottom: .4rem;

    span {
        padding-left: .1rem;
    }
}

.taskTime {
    font-size: 1.4rem;
    color: $COLOR-MAIN-BLACK;
    line-height: 135%;
}

.btn {
    font-size: 1.4rem;
    border: none;
    outline: none;
    background-color: $COLOR-WHITE;

    i {
        padding-left: .3rem;
        // background-color: $COLOR-LIGHT-GRAY;
        // padding: .3rem .5rem .3rem .3rem;
        border-radius: 50%;
        text-align: center;
    }
}