.taskItem {
   display: flex;
   padding: 2.4rem;
   box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.07);
   border-radius: 4px;
   width: 100%;
   backface-visibility: hidden;
   transition: all .1s;
   margin-bottom: 2rem;
}

.taskItem:hover {
    border: 1.5px solid #6F4590;
}

.taskInfo {
    width: 38rem;
    line-height: 135%;
    padding-left: 2.6rem;
    margin-right: 6.6rem;
    color: #0D0A0B  ;
}

.taskTitle {
    font-size: 1.8rem;
    padding-bottom: 1.2rem;
}

.taskDescription {
    font-size: 1.6rem;
    line-height: 120%;

}

.taskLocation {
    padding-top: 2.1rem;
    font-size: 1.2rem;
    color: #6F4590;
}

.taskOrder {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.taskCost {
    font-size: 1.4rem;
    color: #0D0A0B;
    line-height: 135%;
    font-weight: bold;
    padding-bottom: .4rem;
}

.taskTime {
    font-size: 1.4rem;
    color: #0D0A0B;
    line-height: 135%;
}

.btn {
    font-size: 1.4rem;
}

.clock {
    padding-left: .2rem;
}