.form-group {
    position: relative;
    margin-bottom: 25px;
    overflow: hidden;
}

input[type=checkbox]:not(old) {
    width: 2em;
    margin: 0;
    padding: 0;
    font-size: 1em;
    display: none;
}

input[type=checkbox] {
    -webkit-appearance: checkbox !important;
}

input {
    border: none;
    border-bottom: 1px solid #999;
    outline: none;
}