.task_item {
    display: flex;
    color: black;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    transition: background-color .5s, border-left .1s, border-right .1s;
    width: 85%;
    margin: 15px auto;
    padding: 10px;
    box-shadow: 0px 0px 6px 2px rgba(218, 216, 216, 0.75);
    border-radius: 3%;
}

.task_item:hover {
    background-color: rgb(243, 242, 242);
    border-left: 4px solid #992DF1;
    border-right: 4px solid #992DF1;
}

.icon_task {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center center;
    padding: 8px;
    margin-right: 5px;
}

/* .container {
    width: 80%;
} */

.task_title {
    margin-top: 1px;
    font-weight: 400;
    color: rgb(59, 59, 59);
    font-size: 19px;
    /* width: 80%; */
}

.taskDescription {
    font-weight: 300;
    font-style: italic;
    color: black;
}

.taskBody {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    flex-direction: row;
}

.taskItself {
    width: 320px;
   
}

.costContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
}

.cost {
    display: block;
    color: rgb(175, 78, 255);
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 15px;
}

.mapIcon {
    padding-right: 25px;
    font-size: 17px;
}

.mapIcon i {
    padding-right: 6px;
    color: rgb(175, 78, 255);
}
