.task_item {
    display: flex;
    color: black;
    background-color: rgb(246, 247, 252);
    cursor: pointer;
    transition: background-color .5s, border-left .1s;
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    z-index: 0;

}

.task_item:hover {
    background-color: rgb(230, 229, 229);
    border-left: 4px solid #9e579d;
}

.task_item:active {
    background-color: rgb(204, 166, 235);
}


.icon_task {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center center;
    padding: 8px;
    padding-left: 15px;
}

.container {
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.left_block {

}

.task_title {

}

.block_icon {

}

.block_icon span {
    padding-right: 15px;
}

.block_icon i {
    padding-right: 10px;
    color: #574b90;
}

.right_block {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.cost {
    padding-bottom: 8px;
}

.cost i {
    margin-right: 5px;
}

.right_block a {
    text-decoration: none;
    color: #574b90;
}