.content {
    border: 1px solid #6F4590;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60.7rem;
    height: 40.7rem;
    background-color: #fff;
}

.createTaskModal {
    border: 1px solid #6F4590;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 110.7rem;
    height: min-content;
    background-color: #fff;
}