.content {
    border: 1px solid #6F4590;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60.7rem;
    height: 40.7rem;
    background-color: #fff;
}

.modal {
    padding: 2.8rem;
}
.modal_profile {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.4rem;
    border-bottom: 2px solid #F2F2F2;
    margin-bottom: 4.4rem;
}

.profile_block {
    display: flex;
    padding-left: 1rem;
    align-items: center;
}

.profile_info {
    padding-left: 1rem;
}

.profile_name {
    font-weight: 400;
    color: #0D0A0B;
    font-size: 1.8rem;
    margin-bottom: .4rem;
}

.profile_number {
    font-weight: 300;
    font-size: 1.7rem;
    color: #828282;
    margin-bottom: .4rem;
}

.profile_sendMessage {
    color: #6F4590;
    font-size: 1.4rem;
}

.profile_close {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
}

.close_modal {
    cursor: pointer;
    display: inline-block;
    font-size: 2.2rem;
}

.showInformation {
    color: #6F4590;
    font-size: 1.2rem;
    margin-right: 4rem;
}

.task_info {
    
    display: flex;
    justify-content: space-between;
    margin-left: 4rem;
    margin-right: 4rem;

}

.task_title {
    color: #0D0A0B;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 135%;
    margin-bottom: 1.4rem;
}

.task_description {
    color: #0D0A0B;
    line-height: 135%;
    font-size: 1.6rem;
    width: 37.0rem;
}

.task_cost {
    color: #0D0A0B;
    font-size: 1.4rem;
    font-weight: bold;
    padding-bottom: .5rem;
}

.task_time {
    font-size: 1.4rem;
}

.task_time img {
    padding-left: .5rem;
}

.task_start {
    position: absolute;
    bottom: 10%;
    right: 10%;
    text-decoration: none;
    font-size: 1.4rem;
}