.task_container {
    grid-area: taskContainer;
    /* padding: 10px; */
}

.dd_wrapper {
    padding: 10px;
    /* margin-bottom: 23px; */
    border-left: 6px solid rgba(112,64,151,1);
    font-weight: 300;
}

.dd_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dd_header i {
    font-size: 28px;
}

.dd_header_title {
    font-size: 24px;
    font-weight: 400;
}

