.createTaskModal {
    display: flex;
    
}

.leftColumn {
    width: 50%;
}



.rightColumn {
    background-image: url('../../assets/createTaskImg.jpg');
    width: 50%;
    background-size: cover;
}