.createTask {
    display: flex;
    height: 93vh;
}

.leftColumn {
    width: 45%;
    overflow-y: scroll;
}



.rightColumn {
    background-image: url('../../assets/createTaskImg.jpg');
    width: 55%;
    background-size: cover;
    background-position: center;
}