.header {
    grid-area: header;
    border-bottom: 1px solid rgb(162, 161, 163);
}

.header_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    /* padding-right: 20px; */
}

.logo_container {
    display: flex;
    align-items: center;
    
}

.logo {
    height: 60px;
    color: black;
    align-self: flex-start;
}


.logo_container img {
    padding-left: 1px;
}

.heading {
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    color: transparent;
    background: linear-gradient(to right, #281392, #9e579d);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 10px;
    padding-right: 10px;
}

.headerLinkContainer {
    display: flex;
    align-items: center;
    font-size: 23px;
}

.headerLinkContainer img {
    width: 50px;
    height: 50px;
    padding-right: 20px;
}

