@import '../../assets/styles/variables';
%basic_item {
    font-size: 1.6rem;
    padding-bottom: .8rem;


    &::before {
        content: '😁';
        padding-right: 2rem;
     }
}

.container {
    margin-top: 1rem;

    .activeitem {
        background-color: $COLOR-LIGHT-GRAY;
        @extend %basic_item;
    }

    .item {
       @extend %basic_item;
       
       &:hover {
           cursor: pointer;
           background-color: $COLOR-LIGHT-GRAY;

       }
    }
}

.test {
    background-color: $COLOR-PRIMARY;
}

