@import '../../assets/styles/variables';
.taskContainer {
    height: 89vh;
    grid-area: task;
    overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: $COLOR-WHITE;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $COLOR-MAIN-GRAY;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $COLOR-MAIN-GRAY;
}