.btnFormContainer {
    margin-top: 3.6rem;
}

.btnForm {
    display: inline-block;
    background: #6dabe4;
    color: #fff;
    border-bottom: none;
    width: auto;
    padding: 15px 39px;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    transition: all .2s;
}

.btnForm:hover {
    background-color: #1286f3;
}