
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
  
  font-size: 62.5%; 
}

@import './style/abstracts/variables';

body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  overflow-y: hidden;
}


.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40px auto;
  grid-template-areas: 'nav nav'
                       'main main';
  min-height: 80vh;
}

.mainWindow {
  grid-area: main;
}