.container {
  display: grid;
  grid-template-areas: 'nav nav nav'
                       'sidebar taskContainer map';
  grid-template-columns: .15fr 1fr 2fr;
  grid-template-rows: 75px 1fr;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  width: 100vw;
  overflow-x: hidden;
  color: #303a52;
}


