
/* .container {
  display: grid;
  grid-template-areas: 'header header header'
                       'sidebar taskPage taskPage';
  grid-template-columns: 1fr 1.5fr 2fr;
  grid-template-rows: 75px 1fr;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  width: 100vw;
  overflow-x: hidden;
  color: #303a52;
}
 */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
  
  font-size: 62.5%; 
}

body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  overflow-y: hidden;
}


.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40px auto;
  grid-template-areas: 'nav nav'
                       'main main';
  min-height: 80vh;
}

.mainWindow {
  color: red;
  grid-area: main;
  background-color: rgb(131, 105, 158);
}