.mapOverall {
  
    
}

.map {
    position: relative;
    margin: 3px;
    width: 100%;
    height: 92vh;
}

.cluster_marker {
    color: #fff;
    background:  #992DF1;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.crime_marker {
    background: none;
    border: none;
}

.crime_marker img {
    width: 25px;
}