@import '../../style/abstracts/variables';

.navbar {
    padding: .5rem 3rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.nav__item {
    list-style: none;
    font-size: 1.8rem;

    &:not(:last-child) {
        padding-right: 6rem;
    }
}

.nav__link {
    text-decoration: none;
    color: rgb(59, 58, 58);

    &:hover {
        color: black;
    }
}



.logo {
    width: 8rem;

    i {
        font-size: 2rem;
        cursor: pointer;
        color: $COLOR-MAIN-BLACK;
        transition: all .2s ;


        &:hover {
            color: $COLOR-MAIN-GRAY;
        }
    }
}


.nav {
    display: flex;
}

.signText {
    display: flex;
    font-size: 1.8rem;
    cursor: pointer;
}

.signText img {
    padding-right: 1rem;
}

.signText:hover {
    color: rgb(49, 48, 48);
}