
.navbar {
    padding: 0 3rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.logo {
    width: 8rem;
}

.logo img {
    width: 100%;
}

.nav {
    display: flex;
}

.nav__item:not(:last-child) {
    padding-right: 6rem;
}

.nav__item {
    list-style: none;
    font-size: 1.8rem;
}

.nav__link {
    text-decoration: none;
    color: rgb(59, 58, 58);
}

.nav__link:hover {
    color: black;
}
