.nav {
    grid-area: nav;
    border-bottom: 1px solid rgba(112,64,151,1);
}

.heading {
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    color: transparent;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(212,27,103,1) 0%, rgba(249,72,191,1) 0%, rgba(156,28,82,1) 43%, rgba(137,20,108,1) 50%, rgba(112,64,151,1) 60%, rgba(9,187,234,1) 72%, rgba(31,208,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-right: 10px;
   
    
}

.nav_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.navLinkContainer {
    display: flex;
    align-items: center;
}

.navLinkContainer img {
    width: 50px;
    height: 50px;
    padding-right: 20px;
}

.create_post {
    background-color: rgba(112,64,151,1) ;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    transition: background-color .35s, transform .1s;
    border: 1px solid black;
}

.create_post:active {
    transform: translateY(2px);
}

.create_post:hover {
    background-color: rgb(185, 108, 248) ;

}

.logo {
    height: 60px;
    color: black;
    align-self: flex-start;
}

.logo_container {
    display: flex;
    align-items: center;
    
}

.logo_container img {
    padding-left: 1px;
}

