.nav {
    grid-area: nav;
    border-bottom: 1px solid rgb(162, 161, 163);
}

.nav_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    /* padding-right: 20px; */
}

.logo_container {
    display: flex;
    align-items: center;
    
}

.logo {
    height: 60px;
    color: black;
    align-self: flex-start;
}


.logo_container img {
    padding-left: 1px;
}

.heading {
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    color: transparent;
    background: linear-gradient(to right, #281392, #9e579d);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 10px;
    padding-right: 10px;
}

/* .link_navigation a {
    font-size: 18px;
    margin-right: 25px;
    text-decoration: none;
    color: rgb(99, 97, 97);
}

.link_navigation a:hover {
    padding-bottom: 5px;
    color: rgb(115, 39, 177);
    border-bottom: 2px solid rgb(115, 39, 177);
} */



.navLinkContainer {
    display: flex;
    align-items: center;
    font-size: 23px;
}

.navLinkContainer img {
    width: 50px;
    height: 50px;
    padding-right: 20px;
}

