@import '../../../assets/styles/variables';

.slideContainer {
    margin-bottom: 3rem;

    .heading {
        font-size: 1.8rem;
        font-weight: 400;
        margin-bottom: 2rem;
    }
}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 15px;
    border-radius: 5px;
    background: rgb(223, 222, 222); /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    margin-bottom: 1rem;

    &::-webkit-slider-thumb {
        -webkit-appearance: none; /* Override default look */
        appearance: none;
        width: 20px; /* Set a specific slider handle width */
        height: 20px;
        border-radius: 50%; 
        background: $COLOR-PRIMARY; /* Green background */
        cursor: pointer; /* Cursor on hover */
    }

    &::-moz-range-thumb {
        width: 25px; /* Set a specific slider handle width */
        height: 25px; /* Slider handle height */
        background: #4CAF50; /* Green background */
        cursor: pointer; /* Cursor on hover */
    }
  }

.timeRange {
    font-size: 1.9rem;
}

.inputsTime {
    display: flex;

    .timeInput {
        margin-right: 1rem;
        margin-bottom: 2rem;
        width: 15rem;

        &__label {
            display: block;
            font-size: 1.2rem;
            z-index: 10;
            margin-bottom: .5rem;
        }

        input {
            width: 80%;
            display: block;
            padding: .5rem;
            font-size: 1.5rem;
            z-index: 1;
            border: .1px solid $COLOR-LIGHT-GRAY;


        }
    }
}

.data {
    display: block;
    display: flex;
    width: 100%;
    justify-content: space-between;


    &Item {
        list-style: none;
        font-size: 1.4rem;
        // width: 10%;
        // // background-color: red;
        // // border: 1px solid green;
        // text-align: left;
    }
}